#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.symbol-button {
  margin-right: 8px;
  padding: 5px 10px;
}

.symbol-button.selected {
  font-weight: bold;
  background: grey;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spaces-select {
    outline: none;
    border: none;
    background: none;
    font-size: 1em;
    margin: 4px;
    appearance: none;         /* removes the native arrow */
    -webkit-appearance: none; /* Safari/Chrome */
    -moz-appearance: none;    /* Firefox */
}

.spaces-select:hover {
    cursor: pointer;
}

.spaces-select:focus {
}

.heading {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
}
