#root {
    margin: 0 auto;
    text-align: center;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.symbol-button {
    all: unset;
    font-size: 1rem;
    font-weight: normal;
    margin: 0.2rem;
    padding: 0.6rem 1rem;
}

.symbol-button.selected {
    font-weight: normal;
    background-color: #555;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spaces-select {
    outline: none;
    border: none;
    background: none;
    font-size: 1em;
    margin: 4px;
    appearance: none; /* removes the native arrow */
    -webkit-appearance: none; /* Safari/Chrome */
    -moz-appearance: none; /* Firefox */
}

.spaces-select:hover {
    cursor: pointer;
}

.spaces-select:focus {
}

.heading {
    font-size: 3.2rem;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
}
